
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

body {
    background-color: #faf0dc;
    font-family: "Rubik Dirt", system-ui;
}

.title {
    text-align: center;
    font-family: "Rubik Dirt", system-ui;
    font-size: 100px;
    margin-top: -1px;
}

.block1 {
    width: 100vw;
    margin-top: -120px;
    margin-left: 20px;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.number {
    font-size: 60px;
}

.block2 {
    width: 60vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.moves {
    font-size: 60px;
}

.block4 {
    font-size: 40px;
    text-align: center;
}


.guess-input {
    background: transparent;
    border: none;
    color: black;
    font-family: "Rubik Dirt", system-ui;
    font-size: 30px;
    width: 380px; 
    outline: none;
    text-align: center;
}

.option {
    background-color: #f7e7c6;
    text-align: center;
    padding: 2%;
    margin: auto;
    width: 40%;
    position: absolute;
    right: 28%;
    bottom: 40%;
    border: black solid 3px;
    border-radius: 20px;
}

.option p {
    font-size: 30px;
    cursor: pointer;
}

.option h1 {
    font-size: 50px;
}

.exit{
    background-color: #f7e7c6;
    position: absolute;
    padding: 10px;
    border: black solid 3px;
    border-radius: 8px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
}