@import url('https://fonts.googleapis.com/css2?family=Sekuya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.one {
    width: 50vw;
    height: 100vh;
    text-align: center;
    background-color: #faf0dc;
}

.title1 {
    font-size: 50px;
    font-family: "Rubik Dirt", system-ui;
}

.txt1 {
    text-align: center;
    margin: 0 auto; 
    margin-top: -30px;
    font-family: "Rubik Dirt", system-ui;
    width: 30vw;
    font-size: 20px;
}

.button1 {
    font-size: 65px;
    border: 2px solid black;
    margin-top: 42px;
    margin-left: 5vw;
    margin-right: 5vw;
    cursor: help;
    user-select: none;
    font-family: "Sekuya", system-ui;
    background-color: #f9eacd;
    border-radius: 15px;
}

.numbers {
    margin-top: 20px;
    width: 15vw;
    height: 20vh;
    user-select: none;
}

.equals {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 73vh;
    left: 35vw;
    user-select: none;
}

.less {
    width: 95px;
    height: 95px;
    position: absolute;
    user-select: none;
    left: 40vw;
    bottom: 45vh;
}

.greater {
    width: 95px;
    height: 95px;
    position: absolute;
    bottom: 35vh;
    left: 5vw;
    user-select: none;
}

.two {
    width: 50vw;
    height: 100vh;
    background-color: #cbbe99;
    text-align: center;
}

.title2 {
    font-size: 50px;
    font-family: "Rubik Dirt", system-ui;
    
}

.txt2 {
    text-align: center;
    margin: 0 auto; 
    margin-top: -30px;
    font-family: "Rubik Dirt", system-ui;
    width: 30vw;
    font-size: 20px;
}

.button2 {
    font-size: 65px;
    border: 2px solid black;
    margin-top: 20px;
    margin-left: 5vw;
    margin-right: 5vw;
    cursor: help;
    user-select: none;
    font-family: "Sekuya", system-ui;
    background-color: #c0b085;
    border-radius: 15px;
}

.safe {
    border: black solid 10px;
    border-radius: 7px;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 10vh;
    height: 20vh;
    padding: 10px;
}

.safe div {
    border: black solid 10px;
    height: 18vh;
}